@import "~react-image-gallery/styles/css/image-gallery.css";

.register {
  background-color: #e76f51;
}

.App {
  min-height: 100vh;
}
.navbar {
  /* background-image: linear-gradient(45deg, rgb(107, 161, 233), rgb(45, 45, 16)); */
  background-color: #085e7d;
  padding: 0 !important;
}
.categorydropdown a {
  color: #090a0a;
}
.search {
  background-color: white;
  border-radius: 0.3em;
}
.search button {
  border: none;
  background-color: white;
  margin-left: 0.5em !important;
}

.searchbar {
  border: none !important;
  padding: 0 !important;
  margin-left: 0.5em;
}
.searchbar:focus {
  border: none !important;
  box-shadow: none !important;
}

.containe {
  margin-top: 4.5em;
  min-height: calc(100vh - 110px);
}
.categorylist {
  display: flex;
}
.category {
  padding: 0 !important;
  font-size: small;
  border: none !important;
  border-bottom: 0.03em solid darkgrey !important;
  margin-right: 0.05em;
  border-radius: 0.4em;
  color: #131a22;
}
.rotate {
  transform: rotate(-45deg);
}

.card {
  width: 20%;
}
.cardtitle {
  font-size: 0.9em;
}

.carousel {
  width: 80%;
}

div.error {
  color: rgb(221, 85, 85);
}

.pagination {
  margin-right: 12%;
  margin-left: auto;
}
.pagination li {
  color: grey;
  margin-right: 8px;
}
.pagination li:hover {
  color: rgb(192, 10, 10);
}

.pagination li a {
  text-decoration: none;
  color: grey;
}
.pagination li a:hover {
  color: rgb(192, 10, 10);
}

.footer {
  margin-bottom: 0em;
  background-color: #131a22;
  color: #fff;
}
.footer ul {
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}
.footer li {
  list-style-type: none;
}
.nonfooter {
  margin-bottom: 3em;
}
